section {
 /* background-image: url("../../../../public/assets/img/home-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: rgb(108, 104, 104);
  height: 100dvh;
  position: relative;
  overflow-x: hidden;
}
.container {
  margin-inline: auto;
  padding-inline: 6rem;
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  height: 100%;
}
.title-container {
  position: relative;
  z-index: 10;
}
h2 {
  font-weight: 400;
  font-size: clamp(1.5rem, 1.3rem + 1vw, 2.5rem);
  color: #d9d9d9;
  text-align: center;
}
h1 {
  font-weight: 700;
  font-size: clamp(3.875rem, 3.05rem + 4.125vw, 8rem);
  color: #d9d9d9;
  margin-top: .75rem;
  margin-bottom: 2.5rem;
  text-align: center;
}
.link-btns-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.navigate-to-links {
  overflow-x: auto;
  scrollbar-width: none;
  color: #fff;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  padding: .813rem 1.5rem;
  font-weight: 400;
  font-size: clamp(1rem, .975rem + .125vw, 1.125rem);
  transition: border-color .3s ease-out, color .3s ease-out;
  background-color: transparent;
  text-decoration: none;
  .wrapper {
    white-space: nowrap;
  }
}
.hero-bottom-container {
  position: absolute;
  bottom: 0;
  margin-inline: auto;
  padding-inline: 6rem;
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0;
}
.hero-bottom-container {
  position: absolute;
  bottom: 0;
  margin-inline: auto;
  padding-inline: 6rem;
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0;
}
.bottom-container-side {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-direction: column;
  .direction {
    border-radius: 100px;
    border: 1px solid #3DCFB6;
    padding: .75rem .25rem;
  }
}
.animate-arrow {
  /*animation-name: _ngcontent-ng-c2049802583_arrow-bounce; */
  animation-duration: .5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.bottom-nav-border {
  border: 1px solid #3DCFB6;
  height: 240px;
  width: 0;
}
.social-media-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .75rem;
  flex-direction: column;
}
.bottom-social-border{
  border: 1px solid #FFFFFF;
  height: 186px;
  width: 0;
}
.email-link {
  color: #fff;
  font-weight: 400;
  font-size: clamp(1rem, .975rem + .125vw, 1.125rem);
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  transition: color .3s ease-out;
}