section {
  background-color: var(--background-color);
  height: 100dvh;
  position: relative;
  overflow-x: hidden;
  min-height: 646px;
  display: flex;
  justify-content: center;
  align-items: center; 
  outline: orangered solid 3px;
  margin: 0 18px;
}
.hero {
  width: 1440px;
  height: 646px;
  position: relative;
  background: transparent;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 35px;
}
.title-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.svg {
  width: 63px;
  height: 152px;
}
h1 {
  font-size: 90px;
  line-height: 90px;
  font-weight: 700;
  text-align: left;
  color: var(--text-color);
}
p {
  font-size: 58px;
  color: var(--secondary-color);
}

button {
  width: 165px;
  height: 58px;
  background-color: var(--primary-color);
  color: var(--background-color);
  font-size: 23px;
  padding: 15px 30px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.25);
  border: none;
  cursor: pointer;
}
.social-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  gap: 42px;
  position: absolute;
  bottom: 0;
  left: 0;
  p {
    color: var(--text-color);
    font-size: 23px;
    line-height: 120%;
  }
} 
hr {
  width: 102px;
  border: 2px solid var(--primary-color);
}

.scroll-container {
  position: absolute;
  bottom: 0;
  right: -40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 55px;
  p {
    font-size: 23px;
    color: var(--text-color);
    transform: rotate(90deg);
  }
}

.photo-container {
  position: relative;
  width: 100%;
  height: 794px;
  overflow: hidden;
  border-bottom-left-radius: 80px;
}
.shadow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}