header {
/*  margin-inline: auto;
  padding-inline: 6rem;
  max-width: 1440px; */
  padding: 1.5rem 6rem;
  width: 100%;
  height: 100px;
  background-color: rgb(108, 104, 104);

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }
}

@media (max-width: 768px) {
  header {
    padding-inline: 1rem;
  }
  ul {
    flex-direction: column
  }
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

li {
  list-style: none;
  button {
    padding: .281rem .75rem;
  }
}

.language-btn-container{
  border: 1px solid #3DCFB6;
  border-radius: 100px;
  transition: border-color .3s ease-out;
}

a {
  font-weight: 400;
  font-size: clamp(1.125rem, 1.1rem + .125vw, 1.25rem);
  color: #fff;
  position: relative;
  transition: all .3s ease-out
}

a:before {
  opacity: 0;
  transform: translate(-50%);
  border-radius: 100%;
  position: absolute;
  background: #6ad7bf;
  bottom: -10px;
  height: 6.4px;
  content: "";
  width: 6.4px;
  left: 50%;
  transition: opacity .3s ease-out
}

a:hover:before {
  opacity: 1
}

.focused-link{
  color: #3dcfb6
}

.focused-link:before {
  transform: translate(-50%);
  border-radius: 100%;
  position: absolute;
  background: #6ad7bf;
  bottom: -10px;
  height: 6.4px;
  content: "";
  width: 6.4px;
  left: 50%;
  opacity: 1
}

.language-btn-container:hover {
  border-color: #fff
}

.language-active {
  background-color: #3dcfb6;
  border-radius: 100px;
  color: #fff;
  font-weight: 700;
  font-size: 1rem
}

.language-active:hover {
  cursor: default
}

.language-inactive {
  background-color: unset;
  color: #175c50;
  font-weight: 400;
  font-size: 1rem
}

.burger-menu-opened {
  fill: #3dcfb6
}

.backdrop {
  background-color: #00000073;
  position: absolute;
  top: -25px;
  left: 0;
  height: 100dvh;
  width: 100%;
  z-index: 9
}

.overlay {
  border: 1px solid #3DCFB6;
  border-radius: 30px;
  background-image: url("../../../public/assets/img/home-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  position: absolute;
  z-index: 1000;
  top: 70px;
  right: 16px
}

.wrapper{
  padding: 2.5rem 4.813rem
}

