header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--background-color);
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1440px;
  height: 110px;
  position: relative;
  gap: 590px;
  padding: 37px 100px;
  outline: chartreuse dashed 3px;
}

@media (max-width: 768px) {
  header {
    padding-inline: 1rem;
  }
  ul {
    flex-direction: column
  }
}

.header-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: stretch;
  gap: 92px;
}
nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: stretch;
  flex-grow: 0;
  flex-shrink: 0;
  gap: 92px;
}
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

li {
  list-style: none;
}

a {
  font-weight: 400;
  font-size: clamp(1.125rem, 1.1rem + .125vw, 1.25rem);
  line-height: 120%;
  color: var(--text-color);
  position: relative;
  transition: all .3s ease-out;
  text-decoration: none;
}

a:before {
  opacity: 0;
  transform: translate(-50%);
  border-radius: 100%;
  position: absolute;
  background: var(--primary-color);
  bottom: -10px;
  height: 6.4px;
  content: "";
  width: 6.4px;
  left: 50%;
  transition: opacity .3s ease-out
}

a:hover:before {
  opacity: 1;
}

.focused-link{
  color: var(--primary-color);
}

.focused-link:before {
  transform: translate(-50%);
  border-radius: 100%;
  position: absolute;
  background: var(--primary-color);
  bottom: -10px;
  height: 6.4px;
  content: "";
  width: 6.4px;
  left: 50%;
  opacity: 1
}

.language-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.language-border {
  padding: 4px 8px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  transition: border-color .3s ease-out;

  &:hover {
    border: 1.5px solid var(--text-color);
  }
}

.language-active {
  background-color: var(--primary-color);
  border-radius: 10px;
  color: var(--text-color);
  font-weight: 700;
  font-size: 1rem
}

.language-active:hover {
  cursor: default
}

.language-inactive {
  background-color: unset;
  color: var(--primary-color);
  font-weight: 400;
  font-size: 1rem
}

.burger-menu-opened {
  fill: var(--primary-color)
}

.backdrop {
  background-color: #00000073;
  position: absolute;
  top: -25px;
  left: 0;
  height: 100dvh;
  width: 100%;
  z-index: 9;
}

.overlay {
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  background-image: url("../../../public/assets/img/home-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  position: absolute;
  z-index: 1000;
  top: 70px;
  right: 16px
}

.wrapper{
  padding: 2.5rem 4.813rem;
}

