
.form-container {
  /*max-width: 500px;*/
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  /*background-color: var(--primary-color);
  font-family: sans-serif;*/

  h2 {
    margin-top: 0;
    margin-bottom: 1.5rem;
    color: var(--primary-color);
  }
  p {
    margin-bottom: 2rem;
    color: var(--text-color);

    span {
      font-weight: 800;
      color: var(--primary-color);
      font-size: large;
    }
  }
}

.form-field {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;

  label {
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #555;
  }

  input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;

    &:focus {
      outline: none;
      border-color: #3f51b5;
      box-shadow: 0 0 0 3px rgba(63, 81, 181, 0.2);
    }
  }

  .error {
    color: #d32f2f;
    font-size: 0.85rem;
    margin-top: 0.25rem;
  }
}

.form-actions {
  button {
    background-color: #369;
    color: var(--background-color);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover:not(:disabled) {
      background-color: #ea580c;
    }

    &:disabled {
      background-color: var(--primary-color);
      cursor: not-allowed;
    }
  }
}