h3 {
  font-size: clamp(3.5rem, 3.4rem + .5vw, 4rem);
  font-weight: 700;
  color: var(--text-color);
  margin-top: 1.25rem;
}
h4 {
  font-size: clamp(1.125rem, 1.05rem + .375vw, 1.5rem);
  font-weight: 500;
  color: var(--text-color);
}
section{
  background: var(--background-color);
  padding-top: 9rem;
}
.container {
  margin-inline: auto;
  padding-inline: 6rem;
  max-width: 1440px;
  width: 100%;
}
.container-content {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr 1.15fr;
}

article p {
  font-size: clamp(1rem, .95rem + .25vw, 1.125rem);
  line-height: 1.75rem;
  margin-top: 1rem;
  color: var(--text-color);
}