.about-me-section {
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 16px;
  background-color: var(--background-color);
  padding-top: 100px;
}
h2 {
  font-size: clamp(2rem, 1.5rem + 2vw, 3rem);
  font-weight: 700;
  color: var(--text-color);
  font-family: var(--font-family);
}
.content-container {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  width: 471px; 
  gap: 40px;
  outline: orangered 3px dashed;
} 
.content-left {
  display: flex; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  width: 471px; 
  outline: blue 1px dashed;
  gap: 40px;
  p {
    font-size: clamp(1rem, .95rem + .25vw, 1.125rem);
    color: var(--text-color);
    font-family: var(--font-family);
    line-height: 1.5;
    padding-bottom: 24px;
  }
}
.content-left-text {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: flex-start; 
  flex-grow: 0; 
  flex-shrink: 0; 
  gap: 24px;
}

.content-right {
  width: 450px;
  outline: orchid 1px dashed;
}
.svg-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  padding: 8px;
  img {
    width: 100%;
    height: auto;
  }
} 