* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-color:#70e61c;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font-family: var(--font-family);
  background-color: var(--background-color);
}
.overlay {
  position: relative;
  z-index: 1;
}
@font-face {
  font-family: Poppins;
  src: url("../public/assets/fonts/poppins-v24-latin/poppins-v24-latin-regular.woff2");
}
:root {
  --primary-color: #70e61c;
  --secondary-color: #9747FF;
  --background-color: #141D2F;
  --text-color: #ffffff;
  --font-family: 'Poppins', sans-serif;
}
h1 {
  font-weight: 700;
  font-size: clamp(3.875rem, 3.05rem + 4.125vw, 8rem);
  color: var(--text-color);
  text-align: center;
}

button {
  cursor: pointer;
}

button,
input {
  border: none;
  outline: none;
}
.c-t-a-btn {
  background-color: var(--primary-color);
  color: #292929;
  font-weight: 700;
  font-size: clamp(1rem, .95rem + .25vw, 1.125rem);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 4px 0 var(--primary-color);
  transition: all 0.3s ease-in-out;
}