footer {
  background: var(--background-color);
  padding: 8.438rem 6rem 4rem;
  width: 100%;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.logo-container > app-logo + p {
  margin-top: 2rem;
  margin-bottom: .5rem;
}

.logo-container >p {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 400;
}
.copyright {
  display: flex;
  gap: .5rem;
  align-items: center;
  color: var(--text-color);
}

@media (min-width: 768px) {
  nav {
    align-self: flex-end;
  }
}

ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .5rem;
  list-style: none;
}
a:hover {
  color: var(--primary-color);
}
li a {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 400;
  transition: color .3s ease-out;
  text-decoration: none;
}

@media (min-width: 768px) {
  #copyright_mobile {
    display: none;
  }
}

#copyright_mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  margin-top: 2rem;
}
